<ng-container>
  <mat-drawer-container #mainContainer class="main-container" [hasBackdrop]="false">
    <mat-drawer #sideMenu mode="side" opened class="nav-mainsize">
      <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content>
      <div>
        <ng-container>
          <mat-toolbar>
            <button (click)="sideMenu.toggle()" mat-icon-button>
              <mat-icon color="primary">
                {{sideMenu.opened?'arrow_back':'menu'}}
              </mat-icon>
            </button>
            <span> Header</span>
            <span class="example-spacer"></span>
            <app-header></app-header>
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu> -->
          </mat-toolbar>
        </ng-container>
        <div class="padding">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
